<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改配偶成员')" />
    <th:block th:include="include :: summernote-css" />
    <style type="text/css">.user-info-head{position:relative;display:inline-block;}.user-info-head:hover:after{content:'\f030';position:absolute;left:0;right:0;top:0;bottom:0;color:#eee;background:rgba(0,0,0,0.5);font-family:FontAwesome;font-size:24px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;cursor:pointer;line-height:110px;border-radius:50%;}</style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mate-edit" th:object="${fMate}">
            <input name="mId" th:field="*{mId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">姓氏：</label>
                <div class="col-sm-8">
                    <input name="surname" th:field="*{surname}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">名字：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required"> 所属家族：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="surnameId" disabled="disabled" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${fcanList}" th:text="${dict.name}" th:value="${dict.cId}" th:selected="${fMate.surnameId == dict.cId ? true : false}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">农阳历生日标识：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="lunarFlag" th:with="type=${@dict.getType('f_lunar_flag')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${fMate.lunarFlag == dict.dictValue ? true : false}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="birthday" type="text" th:value="${#dates.format(fMate.birthday, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" name="birthday" placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期(大写)：</label>
                <div class="col-sm-8">
                    <input id="birthdayMark" name="birthdayMark" th:field="*{birthdayMark}" class="form-control" style="width: 70%;float: left;" type="text">
                    <a class="btn btn-primary single" style="height: 31px;float: left;margin-left: 10px;" onclick="birthdayToCapital()">智能转换大写</a>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生时辰：</label>
                <div class="col-sm-8">
                    <select class="form-control" id="barthHour" name="barthHour" th:with="type=${@dict.getType('f_barth_hour')}">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${fMate.barthHour == dict.dictValue ? true : false}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">父亲姓名：</label>
                <div class="col-sm-8">
                    <input name="fatherName" th:field="*{fatherName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">家庭地址：</label>
                <div class="col-sm-8">
                    <input name="address" th:field="*{address}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">手机号：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="phoneNum" name="phoneNum" th:field="*{phoneNum}" class="form-control" type="text" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="11">
                        <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">微信号：</label>
                <div class="col-sm-8">
                    <input name="wechatNum" th:field="*{wechatNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">谱书登记状态：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="statusFlag" th:with="type=${@dict.getType('f_status_flag')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${fMate.statusFlag == dict.dictValue ? true : false}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否死亡：</label>
                <div class="col-sm-8">
                    <label class="radio-box">
                        <input type="radio" checked="" value="1" id="deathFlag1" th:checked="${fMate.deathFlag == '1' ? true : false}" name="deathFlag" onchange="deathFlagRadioClick(this)">是</label>
                    <label class="radio-box">
                        <input type="radio" value="0" id="deathFlag2" th:checked="${fMate.deathFlag == '0' ? true : false}" name="deathFlag" onchange="deathFlagRadioClick(this)">否</label>
                </div>
            </div>
            <!-- 死亡信息容器开始 -->
            <div class="death-container" th:style="${fMate.deathFlag == '1' ? 'display: block' : 'display: none'}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">死亡日期：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="deathday" type="text" th:value="${#dates.format(fMate.deathday, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" name="deathday" placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">死亡日期(大写)：</label>
                    <div class="col-sm-8">
                        <input id="deathdayMark" name="deathdayMark" th:field="*{deathdayMark}" class="form-control" style="width: 70%;float: left;" type="text">
                        <a class="btn btn-primary single" style="height: 31px;float: left;margin-left: 10px;" onclick="deathdayToCapital()">智能转换大写</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">殡葬地址：</label>
                    <div class="col-sm-8">
                        <input name="funeralAddr" th:field="*{funeralAddr}" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">享年岁数：</label>
                    <div class="col-sm-8">
                        <input name="ageofDeath" th:field="*{ageofDeath}" class="form-control" style="width: 70%;float: left;" type="text">
                        <a class="btn btn-primary single" style="height: 31px;float: left;margin-left: 10px;" onclick="ageCalculate()">计算享年岁数</a>
                    </div>
                </div>
            </div>
            <!-- 死亡信息容器结束 -->
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">个人简介：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" th:field="*{intro}">
                    <div class="summernote" id="intro"></div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <script src="../../../static/js/convertdatetools.js" th:src="@{/js/convertdatetools.js}"></script>
    <script th:inline="javascript">
        var prefix = ctx + "family/mate";
        $("#form-mate-edit").validate({
            focusCleanup: true
        });

        //是否死亡点选按钮点击事件
        function deathFlagRadioClick(thisObj) {
            if(thisObj.value == "1") {
                $('.death-container').css('display', 'block');
            }else{
                $('.death-container').css('display', 'none');
            }
        }

        //计算享年岁数
        function ageCalculate(){
            var sdate = $("#birthday").val();
            var edate = $("#deathday").val();
            var ageofDeathNum = getYears(sdate, edate);
            //享年是虚岁要加1岁
            $("#ageofDeath").val(ageofDeathNum + 1);
        }

        //出生日期转大写
        function birthdayToCapital(){
            var sdate = $("#birthday").val();
            var birthdayCapitalStr = toCapitalDate(sdate);
            $("#birthdayMark").val(birthdayCapitalStr);
        }

        //死亡日期转大写
        function deathdayToCapital(){
            var edate = $("#deathday").val();
            var deathdayCapitalStr = toCapitalDate(edate);
            $("#deathdayMark").val(deathdayCapitalStr);
        }

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-mate-edit').serialize());
            }
        }

        layui.use('laydate', function(){
            var laydate = layui.laydate;

            laydate.render({
                elem: '#birthday',
                type: 'datetime',
                min: '1500-1-1',
                trigger: 'click'
            });

            laydate.render({
                elem: '#deathday',
                type: 'datetime',
                min: '1500-1-1',
                trigger: 'click'
            });
        });

        $(function() {
            //设置富文本
            $('.summernote').each(function(i) {
                $('#' + this.id).summernote({
                    lang: 'zh-CN',
                    dialogsInBody: true,
                    callbacks: {
                        onChange: function(contents, $edittable) {
                            $("input[name='" + this.id + "']").val(contents);
                        },
                        onImageUpload: function(files) {
                            var obj = this;
                            var data = new FormData();
                            data.append("file", files[0]);
                            $.ajax({
                                type: "post",
                                url: ctx + "common/upload",
                                data: data,
                                cache: false,
                                contentType: false,
                                processData: false,
                                dataType: 'json',
                                success: function(result) {
                                    if (result.code == web_status.SUCCESS) {
                                        $('#' + obj.id).summernote('insertImage', result.url);
                                    } else {
                                        $.modal.alertError(result.msg);
                                    }
                                },
                                error: function(error) {
                                    $.modal.alertWarning("图片上传失败。");
                                }
                            });
                        }
                    }
                });
                var content = $("input[name='" + this.id + "']").val();
                $('#' + this.id).summernote('code', content);
            })
        });
    </script>
</body>
</html>